@font-face {
  font-family: Gillroy;
  src: url("./images/Gilroy-Medium.ttf");
}

@font-face {
  font-family: Gillroy Light;
  src: url("./images/Gilroy-Light.ttf");
}

@font-face {
  font-family: Gillroy ExtraBold;
  src: url("./images/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: Gillroy Bold;
  src: url("./images/Gilroy-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#main {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #eef5ff;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gillroy;
}

.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20vw;
}
.logo {
  height: 60px;
  width: 60px;
}
.navbar-nav .nav-link {
  margin-left: 20px;
}
.right-nav {
  width: 25vw;
}
.center-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 55vw;
}
.left h1 {
  animation: fadeOut;
}
.left-nav {
  text-decoration: none;
  color: #ff8000;
  font-size: 2vw;
  font-family: Gillroy ExtraBold;
}

.center-nav a {
  text-decoration: none;
  font-size: 1.15vw;
  color: #333;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.center-nav a:hover {
  color: #ff8000;
}

.right-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
}

.search {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  padding: 0vw 1vw;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.search:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 20px 30px 0;
}
.search i:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 20px 30px 0;
  transform: scale(1.3);
}

.search input {
  padding: 0.5vw 1vw;
  outline: none;
  border: none;
  background: none;
}

.right-nav .cart {
  background-color: #ff8000;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.right-nav .cart:hover {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExc2NxcXB0OG9ub3NjZ2J6YmNiZWl5bXR3M2I1OHBnZGU4MTNpaGVreSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/KlKhrRmGuDURcJnEvp/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.right-nav .cart i {
  color: #fff;
}

.main-content {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 7vw;
  gap: 3vh;
}

.left h1 {
  font-size: 5vw;
  color: #222;
  font-family: Gillroy ExtraBold;
}

.left h1:nth-child(2) {
  color: #333;
  font-family: Gillroy Light;
}

.left p {
  width: 30vw;
  font-family: Gillroy Light;
  color: #666;
}

.left .search {
  width: 40vw;
  height: 6vh;
  justify-content: space-between;
}

.left .search i {
  color: #ff8000;
}

.left .search input {
  width: 25vw;
}

.left button {
  padding: 1vw 2vw;
  background-color: #ff8000;
  width: 10vw;
  border: none;
  outline: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  color: #fff;
  font-family: Gillroy;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.left button:hover {
  background-image: url(https://media.giphy.com/media/pPOR2prgwlCyOAlxgH/giphy.gif?cid=ecf05e47zf1xbn7hsqjtoh2sbzmq9ibcyrwbma4lxcn5i9lg&ep=v1_gifs_search&rid=giphy.gif&ct=g);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 200%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 3s;
  color: transparent;
}

.right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right #background {
  width: 26vw;
}

#all-plate {
  position: absolute;
  width: 27vw;
  height: 27vw;
  animation: circle 15s infinite linear;
}

#img3 {
  position: absolute;
  top: 9%;
  left: -25%;
  width: 18vw;
  animation: circle 20s infinite linear;
}

#img1 {
  position: absolute;
  top: 5%;
  right: -10%;
  width: 12vw;
  animation: circle 20s infinite linear;
}

#img2 {
  position: absolute;
  bottom: -35%;
  right: 5%;
  width: 20vw;
  animation: circle 20s infinite linear;
}

@keyframes circle {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@media (max-width: 500px) {
  #main {
    position: inherit;
    overflow-x: hidden;
  }
  nav {
    justify-content: space-around;
  }
  .ri-menu-fill {
    display: initial;
    font-size: 5vw;
  }
  .main-content {
    height: auto;
    min-height: 100vh;
    flex-direction: column-reverse;
    background-color: #eef5ff;
  }
  .center-nav,
  .right-nav {
    display: none;
  }
  .left-nav a {
    font-size: 10vw;
  }

  .right {
    width: 100vw;
    height: 60vh;
  }

  .right #background {
    width: 70vw;
  }
  #all-plate {
    width: 50vw;
    height: 50vw;
  }
  #img1 {
    width: 35vw;
    right: -35%;
  }
  #img2 {
    bottom: -50%;
    right: 15%;
    width: 35vw;
  }
  #img3 {
    top: 5%;
    left: -40%;
    width: 30vw;
  }
  .left {
    width: 100%;
    height: 60vh;
    gap: 2vh;
  }
  .left h1 {
    font-size: 10vw;
  }
  .left p {
    width: 70vw;
    font-size: 4vw;
  }
  .left .search,
  .left .search input {
    width: 70vw;
    height: 10vw;
  }
  .left .search i {
    font-size: 4vw;
  }
  .left button {
    width: 30vw;
    height: 10vw;
    font-size: 4vw;
  }
}
